<%= simple_form_for(@pin, html:{class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>

  <%= f.input :image, label: "Imágen" %>
  <%= f.input :image_remote_url, label: "URL de Imágen" %>
  <%= f.input :description, label: "Descripción", as: :text, html: {rows: "3"} %>

  <div class="actions">
    <%= f.button :submit, :class => "btn btn-primary", value: "Crear Recurso" %>
  </div>
<% end %>
