
<div class="row well">
	<div class="col-md-4">
		<p><strong>Descripción: </strong><%= @pin.description %></p>
		<p><strong>Imágen: </strong><%= image_tag @pin.image %></p>
		<p><strong>Creado por: </strong><%= @pin.user.name %></p>
	</div>
</div>

<%= link_to 'Editar', edit_pin_path(@pin) %> |
<%= link_to 'Atrás', pins_path %>